In [1]:
import pandas as pd
import numpy as np
import romi

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('Loyalty_Program.csv')

In [3]:
df.head(10)

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,100018,2017,1,3,0,3,1521,152.0,0,0,Canada,Alberta,Edmonton,T9G 1W3,Female,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
1,100102,2017,1,10,4,14,2030,203.0,0,0,Canada,Ontario,Toronto,M1R 4K3,Male,College,NaN,Single,Nova,2887.74,Standard,2013,3,NaN,NaN
2,100140,2017,1,6,0,6,1200,120.0,0,0,Canada,British Columbia,Dawson Creek,U5I 4F1,Female,College,NaN,Divorced,Nova,2838.07,Standard,2016,7,NaN,NaN
3,100214,2017,1,0,0,0,0,0.0,0,0,Canada,British Columbia,Vancouver,V5R 1W3,Male,Bachelor,63253.0,Married,Star,4170.57,Standard,2015,8,NaN,NaN
4,100272,2017,1,0,0,0,0,0.0,0,0,Canada,Ontario,Toronto,P1L 8X8,Female,Bachelor,91163.0,Divorced,Star,6622.05,Standard,2014,1,NaN,NaN
5,100301,2017,1,0,0,0,0,0.0,0,0,Canada,Ontario,Toronto,P1J 8T7,Male,Bachelor,70323.0,Divorced,Nova,48356.96,Standard,2013,9,NaN,NaN
6,100364,2017,1,0,0,0,0,0.0,0,0,Canada,Saskatchewan,Regina,S6J 3G0,Male,Bachelor,76849.0,Married,Nova,5143.88,Standard,2015,5,NaN,NaN
7,100380,2017,1,0,0,0,0,0.0,0,0,Canada,Quebec,Montreal,H2T 9K8,Female,Bachelor,69695.0,Single,Star,2465.62,Standard,2012,10,NaN,NaN
8,100428,2017,1,6,0,6,606,60.0,0,0,Canada,British Columbia,Vancouver,V6E 3D9,Male,Bachelor,63478.0,Married,Aurora,5845.43,Standard,2012,8,NaN,NaN
9,100504,2017,1,0,0,0,0,0.0,0,0,Canada,Ontario,Sudbury,M5V 1G5,Female,Bachelor,75638.0,Divorced,Nova,8807.61,Standard,2017,7,2018.0,3.0

In [4]:
romi.exploracion_basica(df)

=== EXPLORACIÓN BÁSICA DEL DATASET ===

Primeras filas:

Últimas filas:

Número de filas y columnas:

Información general del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403760 entries, 0 to 403759
Data columns (total 25 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               403760 non-null  int64
 1   Year                         403760 non-null  int64
 2   Month                        403760 non-null  int64
 3   Flights Booked               403760 non-null  int64
 4   Flights with Companions      403760 non-null  int64
 5   Total Flights                403760 non-null  int64
 6   Distance                     403760 non-null  int64
 7   Points Accumulated           403760 non-null  float64
 8   Points Redeemed              403760 non-null  int64
 9   Dollar Cost Points Redeemed  403760 non-null  int64
 10  Country                      403760 non-null  object
 11  Province                     403760 non-null  object
 12  City                         403760 non-null  object
 13  Postal Code                  403760 non-null  object
 14  Gender                       403760 non-null  object
 15  Education                    403760 non-null  object
 16  Salary                       301500 non-null  float64
 17  Marital Status               403760 non-null  object
 18  Loyalty Card                 403760 non-null  object
 19  CLV                          403760 non-null  float64
 20  Enrollment Type              403760 non-null  object
 21  Enrollment Year              403760 non-null  int64
 22  Enrollment Month             403760 non-null  int64
 23  Cancellation Year            49650 non-null   float64
 24  Cancellation Month           49650 non-null   float64
dtypes: float64(5), int64(11), object(9)
memory usage: 77.0+ MB

Estadísticas descriptivas:

Columnas:

In [5]:
romi.mostrar_estadisticas_descriptivas(df)

=== ESTADÍSTICAS DESCRIPTIVAS ===

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed,Salary,CLV,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
count,403760.00,403760.0,403760.00,403760.00,403760.00,403760.00,403760.00,403760.00,403760.00,403760.00,301500.00,403760.00,403760.00,403760.00,49650.00,49650.00
mean,549875.38,2017.5,6.50,4.13,1.04,5.17,1214.46,124.26,30.84,2.50,79371.73,7990.86,2015.25,6.67,2016.50,6.96
std,258961.51,0.5,3.45,5.23,2.08,6.53,1434.10,146.70,125.76,10.17,34726.43,6863.32,1.98,3.40,1.38,3.45
min,100018.00,2017.0,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,9081.00,1898.01,2012.00,1.00,2013.00,1.00
25%,326699.00,2017.0,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,59262.00,3981.78,2014.00,4.00,2016.00,4.00
50%,550598.00,2018.0,7.00,1.00,0.00,1.00,525.00,53.00,0.00,0.00,73479.00,5776.34,2015.00,7.00,2017.00,7.00
75%,772152.00,2018.0,10.00,8.00,1.00,10.00,2342.00,240.00,0.00,0.00,88606.00,8937.12,2017.00,10.00,2018.00,10.00
max,999986.00,2018.0,12.00,21.00,11.00,32.00,6293.00,676.50,876.00,71.00,407228.00,83325.38,2018.00,12.00,2018.00,12.00

GESTION DE NULOS

In [6]:
romi.identificar_nulos(df)

=== COLUMNAS CON VALORES NULOS ===
Salary                102260
Cancellation Year     354110
Cancellation Month    354110
dtype: int64

En "Salary" detectamos 102.260 valores nulos. Es una columna clave para el análisis por lo que vamos a imputarla de forma que les colocaremos la media salarial.

In [ ]:
media_salario = df["Salary"].mean()
df["Salary"].fillna(media_salario, inplace=True)

Las columnas "Cancellation Year" y "Cancellation Month" indican si un cliente ha cancelado su participación en el programa de fidelización. Sin embargo, estas columnas pueden contener valores nulos (NaN), lo cual no representa un error, sino que el cliente sigue activo.

Para simplificar, creamos una nueva columna llamada "Status_Client" con dos posibles valores:

"Active": cuando el cliente continua suscrito al programa (es decir, "Cancellation Year" es nulo).

"Cancelled": cuando el cliente ha cancelado su suscripción (es decir, "Cancellation Year" no es nulo).

In [ ]:
df["Client Status"] = df["Cancellation Year"].isna().map({ 
    True: "Active",
    False: "Cancelled"
})

df["Client Status"].value_counts()

Client Status
Active       354110
Cancelled     49650
Name: count, dtype: int64

#COMPROBAMOS QUE YA NO TENEMOS VALORES NULOS, EXCEPTUANDO LAS COLUMNAS CANCELLATION YEAR Y CANCELLATION MONTH QUE ANTERIORMENTE DECIDIMOS ACEPTARLO COMO VALIDO, Y QUE LUEGO SE PUEDEN VERIFICAR CON LA COLUMNA NUEVA CREADA "CLIENT STATUS"

In [9]:
romi.identificar_nulos(df)

=== COLUMNAS CON VALORES NULOS ===
Cancellation Year     354110
Cancellation Month    354110
dtype: int64

In [10]:
# guardamos el nuevo dataframe como CSV para utilizarlo de ahora en adelante
df.to_csv("Loyalty_Program_limpio.csv", index=False)